html{
    display: flex; /*Tipo de panatalla flez */
    justify-content: center;/* Centra los elementos */
}

canvas{
    width: 100%;
    margin: 0px;
    position: absolute;
    z-index: 1;
    /* margin:
    Arriba:0px
    Derecha:0px
    Abajo:100px
    Izquierda:0px
    */
}

#rain{
    width: 200px;
    height: 80px;
    display: flex;
    margin-top: 260px;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #2B678C;
    position: absolute;
    z-index: 2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .9;
}

#rain{
    color: white;
}

#bar{
    width: 500px;
    height: 80px;
    display: flex;
    margin-top:350px;
    justify-content: center;
    align-items: center;
    background-color: #2B678C;
    position: absolute;
    z-index: 2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .9;
    left: 0;
}

/* #bar:hover{
    width: 400px;
    animation: forwards ;
} */

#bar h2{
    color: white;
}

#image{
    margin-top: 80px;
    position: absolute;
    width: 370px;
    margin-left: 75px;
    height: 370px;
    z-index: 2;
    background-image: url("Resources/logo-web.png");
    background-size: contain;
}

@media(max-width: 500px){
    canvas{
        height: 100vh;
        left: 0 !important;
    }
    #image{
        margin: 40px;
        width: 100px;
        height: 100px;
        left: 200px;
    }
    #bar{
        width: 200px;
        height: 50px;
    }
    #bar h2{
        font-size: 10px;
    }
}